.form {
  max-width: 385px;
  font-family: "Inter", Arial, sans-serif;
}

.form__fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.form__label {
  font-weight: 500;
  color: #000;
}

.form__input {
  display: block;
  border: 1px solid #838383;
  border-radius: 4px;
  margin: 8px 0 32px;
  width: 100%;
  box-sizing: border-box;
  padding: 15px 20px;
  font-size: 20px;
  line-height: 30px;
  color: #000;
}

.form__input::placeholder {
  color: #838383;
  font: 500;
}

.form__button {
  border: none;
  border-radius: 4px;
  background-color: #1878dc;
  margin: 0 0 32px;
  padding: 20px 0;
  width: 100%;
  font-weight: 500;
  font-family: "Inter", Arial, sans-serif;
  line-height: 20px;
  color: #fff;
  opacity: 100%;
  transition: background-color 1s ease-in-out 0.1s;
}

.form__button:hover {
  background-color: #3f96f3;
  opacity: 70%;
}

.form__checkbox {
  border-radius: 2px;
  height: 20px;
  width: 20px;
}

.form__label_type_checkbox {
  display: flex;
  justify-content: center;
  gap: 12px;
}
